<!-- Hidden Color Picker Modal -->
<div class="modal fade" id="todoColorModal" tabindex="-1" aria-labelledby="todoColorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customize ToDo Colors</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>Pending Task Color: <input type="color" id="pendingColor"></label><br>
                <label>Completed Task Color: <input type="color" id="completedColor"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-colors">Save</button>
            </div>
        </div>
    </div>
</div>